.calendar-heading {
  padding: 1em 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

// .next-link {
//   &::after {
//     display: inline-block;
//     content: '➡️';
//     speak: none;
//     position: relative;
//     top: 0.1em;
//     margin-left: 0.2em;    
//   }
// }

// .previous-link {
//   &::before {
//     display: inline-block;
//     content: '⬅️ ';
//     speak: none;
//     position: relative;
//     top: 0.1em;
//     margin-right: 0.2em;
//   }
// }

.main-content .simple-calendar {
  .day {
    height: 12vw;

    p {
      line-height: 1.2;
      
      a {
        font-size: small;
        padding: 0.75em;
      }

      &:not(.all-events-link) a {
        display: inline-block;
        text-decoration: none;
        width: 100%;
        background-color: saturate(lighten($brand-accent, 20), 20);
        border: 1px solid $brand-accent;
        border-radius: 0.3em;
        color: darken($main-brand, 10);

        &:hover, &:focus {
          background-color: saturate(lighten($brand-accent, 30), 30);
          text-decoration: underline;
        }

        &:active {
          background-color: lighten($brand-accent, 20)
        }        
      }

      + p {
        margin-top: 0.25em;
      }

      &.all-events-link {
        // margin-bottom: 0.75em;

        a {
          display: inline-block;
        }
      }
    }
  }

  .today {
    background-color: desaturate(lighten($main-brand, 65), 40)
  }

  .next-month {
    background-color: lighten(gray, 45);
  }

  @include for-mobile {
    .calendar-heading {
      flex-wrap: wrap;

      .calendar-title {
        order: -1;
        width: 100%;
      }
    }

    .day {
      display: none;

      &.has-events {
        display: block;
        width: 100%;
        height: auto;
      }
    }

    tbody, table, tr, td {
      display: block;
      width: 100%;
    }

    thead {
      display: none;
    }
  }
}