.small {
  font-size: 0.75em;

  .date-wrapper {
    width: 20%;
    max-width: 120px;
    min-width: 100px;
  }
}

.date-wrapper {
  display: inline-block;
  background-color: desaturate(lighten($main-brand, 70), 40);
  border-radius: 0.25em;
  padding: 0.5em 1em;
  text-align: center;
  width: 10%;
  max-width: 150px;
  min-width: 80px;
  
  @include fluid-units($unit: 'font-size', $min_size: 8px, $max_size: 18px);


  * + * {
    margin-top: 0.5em;
  }
  
}

.date-month, .date-day, .date-year {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
} 

.date-year, .date-day {
  font-size: 0.75em;
}

.date-date {
  display: block;
  font-size: 1.4em;
  color: lighten(saturate($main-brand, 60), 5);
  font-weight: bold;
  margin: 0.25em;
} 

.event-list {
  list-style-type: none;
  // background-color: #545c66;

  li + li {
    margin-top: 1em;
  }
}

.event-list-item {
  display: flex;
  align-items: flex-start;

  .event-info {
    margin-left: 1em;
    margin-top: 0;

    h2 {
      margin-top: 0;
      font-family: $font-sans-serif;
      font-size: larger;

      @include for-mobile {
        font-size: medium;
      }
    }
  }
}

.search-form.has-addons {
  flex-wrap: wrap;
  justify-content: flex-end;

  label {
    display: block;
    width: 100%;
    text-align: right;
    // flex: 1;
  }
}

.pagination {
  margin-top: 1em;
}