.navbar {
  background-color: $brand-accent;
  padding-top: 0.45em;

  @include for-mobile {
    padding-top: 0;
  }

  .navbar-brand {
    font-size: 1.8em;
    position: relative;
    background-color: $main-brand;
    top: -1em;
    margin-bottom: -1.65em;
    padding: 1em 0.75em 0.4em;
    transform: rotate(-3deg);

    @include for-mobile {
      position: static;
      top: 0;
      margin-bottom: 0;
      transform: rotate(0);
      padding: 0.4em 0.75em;
    }

    .navbar-item {
      top: -0.1em;
    }

    a {
      color: white;
      font-family: $font-serif;
      font-style: oblique;
      font-weight: bold;

      &:hover, &:focus {
        color: white;
        // background-color: darken($main-brand, 20);
        text-decoration: underline;
      }                 
    }
  }

  .navbar-menu {
    position: relative;
    top: -0.1em;
    margin-left: 1em;
    box-shadow: none;

    @include for-mobile {
      background-color: $brand-accent;
      top: 0;
    }
  }

  .navbar-item {
    padding: 0;
    top: -0.1em;
  }

  a {
    color: $main-brand;
    // font-weight: bold;
    padding: 0.4em 0.5em;

    &:hover, &:focus {
      text-decoration: underline;
      color: darken($main-brand, 10);
    }

    &:active {
      color: darken($main-brand, 20);
    }
  }
}